
.nav .navbar {
background-color: black;
width: 100%;
padding:0;
margin:0;
float: none;
}
#header-container {
background-color: black;
width: 100%;
padding:0;
margin-left:0;
}

.container {
padding:0;
}

h2 {
color:white;
}

#logo {  /* float the logo */
float: left;
margin: 5px 5px 5px 5px;
padding-top: 0px;
}

#logo img {
width: 100px;
height:90px;
}
#logo2 img {
float: left;
width: 200px;
height:50px;
}
#cat img {
width: 450px;
height:250px;
}

.modal-footer {
background-color: black;
}
h4 {
color:black
}

#nav-bar {
float:none
}

.ftext {
color: white;
}

body {
    color: white;
}

.uneditable-input {
margin-bottom: 0px;
}

.row-fluid .span8{
	width: 100% !important;
	height: 300px !important;
 	background-color: black; 
	opacity: 1 !important;
	margin-left: -1px !important;
	margin-top: -70px; 
}
p, ol, ul, td {
    font-family: helvetica, sans-serif !important;
    color: #7D7D7D;
/*     padding-top: 10px; */
    /*position: relative;
    top: -450px;
    left: 40px; */ 
}
#img-rounded{
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
}
#img-rounded img{
height: 150px;
width: 150px;
}
.logo2{
	opacity: 1 !important;
	height: 40px;
	position: absolute;
	float: right;
	top: 150px;
	right: 60px;
}
p {
	padding-left: 180px;
	padding-bottom: 50px !important;
}  
strong {
	position: relative;
	color: #C8CACC;
}

.container {
	background-color: white;
}
div.field, div.actions {
	margin-left: 15px !important;
	margin-bottom: 20px;
}

a {
	margin-left: 15px !important;
	margin-bottom: 20px;
}

#footer a {
    color: white !important;
}
h2 {
	top: 50px !important; 
}
/* img {
	height: 110px !important;
} */ 

#categoryName {
	position: relative;
	bottom: 750px;
	color: black;
}
#cat-position{
	position: relative;
	top: 170px;
	left: 360px;
}
.across {
    width: 1600!important; 
    margin-left: -80px !important;
    position: relative;
	top: -60px;
	height: 200px !important;
}
.catImg {
	position: absolute !important;
    clip: rect(0px,1420px,300px,0px)!important;
    opacity: 1 !important;
	margin-top: -140px;
	margin-left: -73px;
} 
.link-insta {
float: right;
position: relative;
width: 200px;
height:50px;
}
.link-insta img {
float: right;
position: relative;
width: 200px;
height:50px;
}
th {
color: black;
}
.pull-left{
	background-color: black;
}
h4 {
	color: #B5B5B5 !important;
}

#aboutus{
	position: absolute!important;
	text-align: left !important;
	left: 100px;
}

.table-striped thead:first-child tr:first-child th:first-child,
.table-striped tbody:first-child tr:first-child td:first-child {
	color: black !important;
	font-weight: bold !important;
}
.table-striped thead:first-child tr:first-child th:last-child,
.table-striped tbody:first-child tr:first-child td:last-child {
	color: black !important;
	font-weight: bold !important;
}
.hero-unit {
	background-color: white !important;
	width: 80%;
}
a {
	color: gray !important; 
}
.container-fluid {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.hero-unit h1{
	color: black !important;
}
#font{
	font-size: 20px !important;
	position: relative;
	left: 20px;
	padding-bottom: 10px;
	font-family: helvetica; 
	font-weight: lighter !important;
}
