<footer id="footer", class="modal-footer">
  <div id="logo2"><%= link_to image_tag("Final-horizental-logo-1.jpg", :alt => "logo2"), root_path %></div>
      <p class="ftext">
               Copyright © 2015 
               <a target="blank" href="http://instagramapp.herokuapp.com">
                  InstaSouq
               </a>
                  / All rights reserved.
            </p>

</footer>