<footer id="footer", class="modal-footer">
  <div id="logo2"><%= link_to image_tag("Final-horizental-logo-1.jpg", :alt => "logo2"), root_path %></div>
      <p class="ftext">
               Copyright © 2015 
               <a target="blank" href="http://www.instagramapp.herokuapp.com">
                  InstaSouq
               </a>
                  / All rights reserved.
            </p>
	  <ul class="footer-content ftext">
          <%= link_to "Home",  root_path %>
      <a href="mailto:juniorproject2016@outlook.com ?Subject=Problem%20with%20InstaSouq">Contact</a>
        </ul>
</footer>